.features {
  height: 100vh;
  margin-top: -20vh;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    &__boxes {
      width: 50%;
      gap: 1rem;
    }
    .features {
      height: 10vh;
      margin-top: -20vh;
      background: blue;
    }
  }
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);

    &__boxes {
      flex-direction: column;
      gap: 1rem;

    }

  }

  &__boxes {
    width: 90%;
    padding: 0 2%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .box {
    width: 21rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
  }
  .box:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: all 0.3s;
  }
  .box i {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7ed56f),
      to(#28b485)
    );
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
  }
}
